<?php
// TODO Break this template into multiple templates

/** @var \Vulpea\Qa\Helper\QaConfig|null $qaConfig */
$qaConfig = $block->getQaConfig();

if(!is_null($qaConfig) && $qaConfig->isFeatureEnabled() === true):
    /** @var Magento\Catalog\Block\Product\View $block */
    /** @var \Magento\Catalog\Api\Data\ProductInterface $product */
    $product = $block->getProduct();
    /** @var \Vulpea\Qa\ViewModel\ProductQuestion $questionProvider */
    $questionProvider = $block->getQuestionProvider();
    /** @var \Vulpea\Qa\ViewModel\ProductAnswer $answerProvider */
    $answerProvider = $block->getAnswerProvider();
    /** @var \Vulpea\Qa\ViewModel\CustomerInformation $customerInformation */
    $customerInformation = $block->getCustomerInformation();
    /** @var \Magento\Customer\Model\Customer|null $loggedInCustomer - null if guest */
    $loggedInCustomer = $customerInformation->getLoggedCustomer();
?>
<?php
    if(is_null($product) || is_null($questionProvider) || is_null($customerInformation) ||
        is_null($answerProvider) || empty($questionProvider->getProductQuestions($product->getId()))
    ): ?>
        <p><?= __('It seems there are no questions for this product...') ?></p>
    <?php else:; ?>

    <p style="font-size: 24px"><?= __("Customer Questions") ?></p>
    <?php endif; ?>
    <hr>
    <?php
    // TODO add form keys
    /** @var \Vulpea\Qa\Api\Data\ProductQuestionInterface $productQuestion */
    foreach ($questionProvider->getProductQuestions($product->getId()) as $productQuestion):
        $userType = $productQuestion->getCustomerId() ? 'Verified Customer' : 'Guest Customer';

    ?>
        <p><span style="font-size: 18px;"><b><?= $productQuestion->getNickname() ?></b></span><sub> (<?=__($userType)?>)</sub></p>
        <p style="font-size: 16px;"><?="Q: " . $productQuestion->getQuestion()?> <span style="font-size: 7px"><i><?= $productQuestion->getCreatedAt() ?></i></span></p>
        <?php
        $answers = $answerProvider->getProductAnswersByQuestionId($productQuestion->getId());
        foreach ($answers as $productAnswer): ?>
            <p style="padding-left: 20px; font-size: 16px; display: inline-block;"><?="A: " . $productAnswer->getAnswer()?> <span style="font-size: 7px"><i><?= $productAnswer->getCreatedAt() ?></i></span></p>
            <?php if($productAnswer->getCustomerId() == $loggedInCustomer->getId()): ?>
                <a style="padding-left: 10px; display: inline-block" href="<?= $block->getUrl('question/qa/deleteanswerpost', ['answer_id' => $productAnswer->getId()]) ?>"><button style="font-size: 8px; padding: 0 4px">Delete</button></a>
            <?php endif; ?>
        <?php endforeach; ?>
        <br>
        <?php if($answerProvider->shouldDisplayAnswerForm($productQuestion, $loggedInCustomer) ): ?>
            <form data-mage-init='{"validation":{}}' action="<?= $block->getUrl('question/qa/answerpost') ?>" method="post"  class="review-form"  >
                <?= $block->getBlockHtml('formkey') ?>
                <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
                    <input type="hidden" id="question_id" name="question_id" value="<?=$productQuestion->getId()?>">
                    <div class="field required">
                        <label for="answer_field" class="label"><span><?= $block->escapeHtml(__('Know the answer to this question? Get involved!')) ?></span></label>
                        <div class="control">
                            <textarea name="answer" id="answer_field" cols="5" rows="3" data-validate="{required:true}"></textarea>
                        </div>
                    </div>
                </fieldset>
                <button type="submit" class="action submit primary"><span><?= $block->escapeHtml(__('Submit Answer!')) ?></span></button>
            </form>
        <?php elseif(count($answers) == 0):; ?>
            <p style="font-size: 10px"><i>*Only <?=$qaConfig->getAllowedCustomerGroupLabel()?> logged in customers can answer questions.</i></p>
            <?php if($productQuestion->getCustomerId() && $loggedInCustomer && $productQuestion->getCustomerId() == $loggedInCustomer->getId()): ?>
                <p style="font-size: 10px;"><i>*You can not answer your own questions</i></p>
            <?php endif; ?>
    <?php endif; ?>
        <hr>
    <?php endforeach; ?>
    <br><br>
    <p style="font-size: 24px"><?= $block->escapeHtml(__('Have a question about this product? Ask away!')) ?></p>
    <hr>
    <form data-mage-init='{"validation":{}}' action="<?= $block->getUrl('question/qa/questionpost') ?>" method="post"  class="review-form"  >
        <?= $block->getBlockHtml('formkey') ?>
        <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
            <input type="hidden" id="product_id" name="product_id" value="<?=$product->getId()?>">
            <div class="field required">
                <label for="nickname_field" class="label"><span><?= $block->escapeHtml(__('Nickname')) ?></span></label>
                <div class="control">
                    <input type="text" name="nickname" id="nickname_field" class="input-text" data-validate="{required:true}"/>
                </div>
            </div>
            <div class="field required">
                <label for="question_field" class="label"><span><?= $block->escapeHtml(__('Question')) ?></span></label>
                <div class="control">
                    <textarea name="question" id="question_field" cols="5" rows="3" data-validate="{required:true}"></textarea>
                </div>
            </div>
        </fieldset>
        <div class="actions-toolbar">
            <div class="primary actions-primary">
                <button type="submit" class="action submit primary"><span><?= $block->escapeHtml(__('Submit Question')) ?></span></button>
            </div>
        </div>
    </form>
<?php endif;